<?xml version="1.0"?>
<launch>
    <include file="$(find xf_mic_asr_offline)/launch/mic_init.launch"/>
    <include file="$(find hiwonder_servo_controllers)/launch/start.launch"/>

    <node name="init_pose" pkg="jetauto_slam" type="init_pose.py" output="screen">
        <param name="horizontal" value="true"/>
    </node>

    <include file="$(find jetauto_example)/scripts/color_detect/color_detect_node.launch">
        <arg name="use_depth_cam" value="true"/>
    </include>

    <node pkg="xf_mic_asr_offline" type="voice_control_color_detect.py" name="voice_control_color_detect_node" output="screen"/>
</launch>
